<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.testing.testScripts.TC6_PutRequest"/>
      <class name="org.testing.testScripts.TC7_DeleteRequest"/>
      <class name="org.testing.testScripts.TC5_GetRequestforAll_Ids"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
